.fondo_verde {
    background-color: #28A745;
}

main {
    margin: 20px 0 20px 0;
}

.sub_text {
    font-size: small;
    color: #707070;
}

#icon {
    padding-right: 5px;
}

#container div {
    padding: 0 auto;
}

.pricing_norm {
    font-size: small;
    color: #707070;
    text-align: right;
    margin: 0;
}

.pricing_disc {
    font-size: medium;
    color: #28A745;
    text-align: right;
    font-weight: bold;
    padding-left: 20px;
}

.registro_mail {
    background-color: #28A745;
    color: white;
    padding: 10px;
}

#text_input {
    margin-left: 5%;
    margin-right: 5%;
}

#enviar {
    text-align: center;
    padding: 10px;
}

.footer {
    text-align: center;
    color: #707070;
    font-size: 14px;
    padding: 15px;
}
